Consider following code to answer further questions:

import pandas as pd

course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]

duration =  [2,3,6,4]

df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

In [2]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration =  [2,3,6,4]

df = pd.DataFrame(data = {'ourse_name' : course_name, 'duration' : duration})

In [3]:
df

         ourse_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

# Q1. Write a code to print the data present in the second row of the dataframe, df.

In [7]:
df[1:2]# second Row

         ourse_name  duration
1  Machine Learning         3

# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

* loc is  primarily used for label indexing
* iloc is mainly used for integer indexing

# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [8]:
reindex=[3,0,1,2]

In [10]:
new_df=df.reindex(reindex)
new_df

         ourse_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [12]:
new_df.loc[2]

ourse_name    Big Data
duration             6
Name: 2, dtype: object

In [13]:
new_df.iloc[2]

ourse_name    Machine Learning
duration                     3
Name: 1, dtype: object

Did you observe any difference in both the outputs? If so then explain it.

Consider the below code to answer further questions:
import pandas as pd

In [15]:
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.817852  0.777950  0.132329  0.960387  0.199010  0.370458
2  0.694562  0.009956  0.866891  0.623434  0.565522  0.962993
3  0.541012  0.678947  0.167233  0.647769  0.493397  0.310777
4  0.203625  0.287227  0.068890  0.603844  0.228743  0.256920
5  0.099259  0.143128  0.308072  0.979809  0.583184  0.554467
6  0.070822  0.726371  0.961607  0.353345  0.175458  0.818023

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

## (i) 	mean of each and every column present in the dataframe.

In [16]:
df1.mean()

column_1    0.404522
column_2    0.437263
column_3    0.417503
column_4    0.694765
column_5    0.374219
column_6    0.545606
dtype: float64

## (ii) standard deviation of column, ‘column_2’

In [18]:
np.std(df1)

column_1    0.293966
column_2    0.302677
column_3    0.359505
column_4    0.217538
column_5    0.175989
column_6    0.263838
dtype: float64

In [ ]:
Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [25]:
df1.loc[2:2].mean()

column_1    0.694562
column_2    0.009956
column_3    0.866891
column_4    0.623434
column_5    0.565522
column_6    0.962993
dtype: float64

## Q6. What do you understand about the windows function in pandas and list the types of windows functions?

* performing operations on a set of data points within a specified sliding or expanding window.

* Rolling Mean (Moving Average): Calculates the mean of a specified window of data points as it slides through the data.
* Rolling Sum: Calculates the sum of a specified window of data points as the window slides through the data.
* Expanding Mean: Calculates the mean of all data points up to the current point.
* Exponential Moving Average (EMA): A weighted moving average where more recent observations have higher weights.
* Minimum and Maximum: Calculate the minimum and maximum values in a specified window.
* Custom Window Functions: Allows the application of user-defined functions within specified windows.

## Q7. Write a code to print only the current month and year at the time of answering this question.

[Hint: Use pandas.datetime function]

In [45]:
from datetime import datetime

In [47]:
dt=datetime.now()

In [51]:
print(dt.month)
print(dt.year)

11
2023

## Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [63]:
import datetime

In [52]:
import pandas as pd

In [103]:
def dt(date1,date2):
    d1=pd.to_datetime(date1)
    d2=pd.to_datetime(date2)
    timediff=d1-d2
    return timediff.days,timediff.total_seconds()/3600,timediff.total_seconds()

In [104]:
a=input('Enter a first time:')
b=input('Enter a second time:')
day,hour,sec=dt(a,b)
print('Days:',day)
print('Hour:',hour)
print('Seconds:',sec)

Enter a first time:2004-05-04
Enter a second time:2004-03-02
Days: 63
Hour: 1512.0
Seconds: 5443200.0

## Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# Function to convert a column to categorical data type
def convert_to_categorical(df, column_name, category_order):
    # Read the CSV file
    try:
        # Assume the CSV file has a header row
        df = pd.read_csv(df)
    except FileNotFoundError:
        print("File not found. Please provide a valid file path.")
        return None

    # Convert the specified column to categorical
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

    # Display the sorted data
    sorted_data = df.sort_values(by=[column_name])
    print("\nSorted Data:")
    print(sorted_data)

# Get input from the user
file_path = input("Enter the file path (CSV): ")
column_name = input("Enter the column name to convert: ")
category_order = input("Enter the category order (comma-separated): ").split(',')

# Call the function to convert and display data
convert_to_categorical(file_path, column_name, category_order)

## Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

def visualize_sales_data(file_path):
    # Read the CSV file into a DataFrame
    try:
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print(f"Error: File '{file_path}' not found.")
        return

    # Check if the DataFrame has the expected columns
    required_columns = ['Date', 'Product_Category', 'Sales']
    if not all(col in df.columns for col in required_columns):
        print(f"Error: The CSV file should contain the columns: {', '.join(required_columns)}")
        return

    # Convert 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # Pivot the DataFrame to get a table suitable for a stacked bar chart
    pivot_df = df.pivot_table(index='Date', columns='Product_Category', values='Sales', aggfunc='sum', fill_value=0)

    # Create a stacked bar chart
    pivot_df.plot(kind='bar', stacked=True, figsize=(10, 6))
    
    # Set labels and title
    plt.xlabel('Date')
    plt.ylabel('Sales')
    plt.title('Stacked Bar Chart of Sales Over Time')
    
    # Show the chart
    plt.show()

if __name__ == "__main__":
    # Prompt the user to enter the file path
    file_path = input("Enter the path to the CSV file: ")

    # Visualize the data
    visualize_sales_data(file_path)

## Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

In [15]:
from scipy import stats 
import pandas as np
def stu_data_info(data):
    data=pd.read_csv(data)
    stu_mean=data.test_score.mean()
    stu_median=data.test_score.median()
    stu_mode=stats.mode(data.test_score)
    data1=pd.DataFrame()
    data1['result']=[stu_mean,stu_median,stu_mode]
    return data1

In [17]:
data=input()
stu_data_info(data)

student.csv

        result
0         83.5
1         85.0
2  ([85], [4])