Q1. Create one variable containing following type of data:

(i)string

(ii)list

(iii)float

(iv)tuple

## ANS:

In [1]:
var1='sathish'
var2=[1,2,3,'kumar',True]
var3=3.5
var4=(1,3,4,6)

In [2]:
print(var1,var2,var3,var4)

sathish [1, 2, 3, 'kumar', True] 3.5 (1, 3, 4, 6)

Q2. Given are some following variables containing data:

(i)var1 = ‘ ‘

(ii)var2 = ‘[ DS , ML , Python]’

(iii)var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)var4 = 1.

## ANS:

In [4]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

In [6]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:

(i)/

(ii)% 

(iii)//

(iv)**

## ANS:

In [8]:
a=22/3
print(a)

7.333333333333333

In [11]:
b=22%3
print(b)

1

In [12]:
c=22//3
print(c)

7

In [13]:
d=22**3
print(d)

10648

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type

## ANS:

In [20]:
a=[1,2,3.5,2+5J,True,'good moring',[11,22],'False','have a nice day',10]
for i in range(len(a)):
    print(a[i])

1
2
3.5
(2+5j)
True
good moring
[11, 22]
False
have a nice day
10

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

## ANS

In [42]:
A = int(input())
B = int(input())
count = 0

while A % B == 0:
    A = A // B  # Divide A by B
    count += 1  # Increment the count

if count > 0:
    print("A is divisible by B.")
    print("It can be divided", count, "times.")
else:
    print("A is not divisible by B.")

10
5
A is divisible by B.
It can be divided 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

## ANS:

In [52]:
for i in range(1,25):
    if i%3==0:
        print('Divisible',i,'by 3 Yes.')
    else:
        print('Divisible',i,'by 3 No.')

Divisible 1 by 3 No.
Divisible 2 by 3 No.
Divisible 3 by 3 Yes.
Divisible 4 by 3 No.
Divisible 5 by 3 No.
Divisible 6 by 3 Yes.
Divisible 7 by 3 No.
Divisible 8 by 3 No.
Divisible 9 by 3 Yes.
Divisible 10 by 3 No.
Divisible 11 by 3 No.
Divisible 12 by 3 Yes.
Divisible 13 by 3 No.
Divisible 14 by 3 No.
Divisible 15 by 3 Yes.
Divisible 16 by 3 No.
Divisible 17 by 3 No.
Divisible 18 by 3 Yes.
Divisible 19 by 3 No.
Divisible 20 by 3 No.
Divisible 21 by 3 Yes.
Divisible 22 by 3 No.
Divisible 23 by 3 No.
Divisible 24 by 3 Yes.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

## Mutable is you can change value

* list


#### Ex :

In [65]:
a=[1,3,6,3.55,'True']

In [66]:
a

[1, 3, 6, 3.55, 'True']

In [67]:
a[3]

3.55

In [68]:
a[3]='hi'

In [69]:
a

[1, 3, 6, 'hi', 'True']

## Immutable is you cannot change value
* int
* float
* string

#### Ex :

In [75]:
a=1011
a

1011

In [72]:
a[1]=55

TypeError: 'int' object does not support item assignment

In [74]:
b=4.7
b

4.7

In [76]:
b[2]=77

TypeError: 'float' object does not support item assignment

In [77]:
var1='hello'
var1

'hello'

In [78]:
var1[3]

'l'

In [79]:
var1[3]='g'

TypeError: 'str' object does not support item assignment